*{
    box-sizing: border-box;
}

html{
    font-size: 62.5%
}

/*Texts ------------------------------*/
#text1{
    font-family: PT Serif;
    font-size: 3.6rem;
    font-weight: 700;
}

#text2{
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 600;
}

#text3{
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 400;
    width: 88%;
}

.text4{
    font-family: PT Serif;
    font-size: 1.0rem;
    font-weight: 400;
    writing-mode: vertical-rl; 
    float: right;
    margin-left: -1px;
}

.text5{
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 600;
    margin-top: 10px;
}

#text6{
    font-family: Montserrat;
    font-size: 1.4rem;
    font-weight: 500;
    color: #A9A9A9;
}

#text7{
    font-family: Montserrat;
    font-size: 1.4rem;
    font-weight: 700;
    color: #A9A9A9;
}

/*Others ------------------------------*/
img{
    width: 36.992vw;
    height: auto;
    max-width: 214.5536px;
}

a{
    text-decoration-color: #A9A9A9;
}

/*Containers ---------------------------*/
body{
    width: 93.6%;
    margin-left: auto;
    margin-right: auto;
}

main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

footer{
    text-align: center;
}

.movile{
    margin-top: 48px;
}

@media screen and (min-width: 900px){
    /*Texts -------------------------------*/
    #text1{
        font-size: 3.6rem;
        width: 50%;
    }

    #text2{
        font-size: 1.8rem;
        width: 50%;
        margin-top: 35px;
        margin-bottom: -1px;
    }

    #text3{
        font-size: 1.8rem;
        margin-top: 10px;
        margin-bottom: 30px;
    }

    .text4{
        font-size: 1.2rem;
        margin-left: -1px;
    }

    .text5{
        font-size: 1.8rem;
    }

    #text6{
        font-size: 1.4rem;
    }

    #text7{
        font-size: 1.4rem;
    }

    /*Containers -------------------------------------*/
    header{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-content: flex-start;
        align-items: flex-start;
    }

    body{
        width: 90%;
        max-width: 935px;
        margin-left: auto;
        margin-right: auto;
    }

    main{
        justify-content: space-between;
    }

    .card{
       margin: 30px;
    }

    .movile{
        margin-top: auto;
    }

    div.card:nth-child(3n+2){
        margin-top: 80px;
    }

    div.card:nth-child(3n+1){
        margin-top: 0px;
    }

    div.card:nth-child(3n+3){
        margin-top: 0px;
    }

    /*Others --------------------------------------------*/
    img{
        width: 16.5277777778vw;
        height: auto;
        max-width: 225.604166667px;
    }
}